.h2p-space p {
  padding: 10px;
}
.h2p-space h2 {
  padding: 10px;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lobster', serif;
}
h1 {
  font-size: 3.3rem;
}
h2 {
  font-size: 3.1rem;
}
h3 {
  font-size: 2.6rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background-image: url("https://images.unsplash.com/photo-1546448396-6aef80193ceb?ixlib=rb-1.2.1&auto=format&fit=crop&w=2251&q=80");
  background-position: center left;
  background-size: cover;
}
.aboutContainer {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .aboutContainer {
    background-image: url("https://images.unsplash.com/photo-1546448396-6aef80193ceb?ixlib=rb-1.2.1&auto=format&fit=crop&w=2251&q=80");
    background-position: center left;
    background-size: cover;
  }
}
@media (max-width: 800px) {
  .aboutContainer {
    background-image: url("https://images.unsplash.com/photo-1546448396-6aef80193ceb?ixlib=rb-1.2.1&auto=format&fit=crop&w=2251&q=80");
    background-position: center left;
    background-size: cover;
  }
}
.top {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #b0ccbe;
  border-bottom: thin inset #b0ccbe;
}
@media (max-width: 500px) {
  .top {
    width: 100%;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
  }
}
nav {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  margin: 1rem;
}
nav a:hover {
  color: #e5e7e9;
}
@media (max-width: 500px) {
  nav a:hover {
    display: none;
  }
}
@media (max-width: 800px) {
  nav a:hover {
    display: none;
  }
}
@media (max-width: 500px) {
  nav {
    width: 100%;
    display: flex;
    font-size: 1rem;
    flex-direction: row;
    align-items: center;
  }
}
@media (max-width: 800px) {
  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
nav a {
  text-decoration: none;
  color: #e98d7b;
  font-size: 1.9rem;
}
@media (max-width: 500px) {
  nav a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
@media (max-width: 800px) {
  nav a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.title {
  color: #d87867;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.title .fas {
  font-size: 1rem;
  margin: 0 5px;
  color: #d87867;
}
.container .information p {
  padding: 10px;
}
.container .information h2 {
  padding: 10px;
}
.container .information .btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}
.container .information .btn a {
  background-color: #b0ccbe;
  color: #d87867;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 5px;
  width: 15%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}
@media (max-width: 500px) {
  .container .information .btn a {
    width: 75%;
  }
}
@media (max-width: 800px) {
  .container .information .btn a {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .container .information .btn {
    width: 100%;
    font-size: 1.8rem;
    cursor: not-allowed;
  }
}
.container .imgTwo .middleImg {
  margin: 20px auto;
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .container .imgTwo .middleImg {
    border-radius: 10px;
  }
}
.container .middleSection p {
  padding: 10px;
}
.container .middleSection h2 {
  padding: 10px;
}
.container .targetMarket {
  max-width: 100%;
  margin: 30px auto;
  border: 1px solid yellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container .targetMarket p {
  padding: 10px;
}
.container .targetMarket h3 {
  padding: 10px;
}
.container .targetMarket .professors {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px solid #0084ff;
}
.container .targetMarket .professors h3 {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .container .targetMarket .professors {
    width: 100%;
    display: flex;
    font-size: 1rem;
    flex-direction: row;
    font-size: 3rem;
  }
  .container .targetMarket .professors h3 {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .container .targetMarket .professors {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .container .targetMarket .professors h3 {
    display: flex;
    justify-content: center;
  }
}
.container .targetMarket .professors .btn {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container .targetMarket .professors .btn a {
  font-weight: bold;
  text-decoration: none;
  background-color: #b0ccbe;
  color: #d87867;
  font-size: 1.4rem;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid greenyellow;
}
@media (max-width: 500px) {
  .container .targetMarket .professors .btn {
    width: 100%;
    font-size: 1.8rem;
    cursor: not-allowed;
  }
}
.container .targetMarket .candidates {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px solid red;
}
.container .targetMarket .candidates h3 {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .container .targetMarket .candidates {
    width: 100%;
    display: flex;
    font-size: 1rem;
    flex-direction: row;
    font-size: 3rem;
  }
}
@media (max-width: 800px) {
  .container .targetMarket .candidates {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .container .targetMarket .candidates h3 {
    display: flex;
    justify-content: center;
  }
}
.container .targetMarket .candidates .btn {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container .targetMarket .candidates .btn a {
  font-weight: bold;
  text-decoration: none;
  background-color: #b0ccbe;
  color: #d87867;
  font-size: 1.4rem;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid greenyellow;
}
@media (max-width: 500px) {
  .container .targetMarket .candidates .btn {
    width: 100%;
    font-size: 1.8rem;
    cursor: not-allowed;
  }
}
@media (max-width: 500px) {
  .container .targetMarket {
    width: 100%;
    display: flex;
    font-size: 1rem;
    flex-direction: row;
    font-size: 3rem;
  }
}
body {
  line-height: 1;
  background-image: url("https://images.unsplash.com/photo-1539592071786-616fb62b6c27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 500px) {
  body {
    background-image: none;
  }
}
.navteam {
  margin: 30px auto;
}
.navteam .tabLinks {
  width: 100%;
  border: 1px solid palevioletred;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.4);
}
.navteam .tabLinks .link {
  border: 1.3px solid #d09b00;
  border-radius: 5px;
  background-color: #eab000;
  display: flex;
  color: #e5e7e9;
  justify-content: center;
  width: 15%;
  margin: 40px auto;
  padding: 5px;
  font-size: 1.6rem;
  text-align: center;
  cursor: pointer;
}
.navteam .mateContent {
  border: 1px solid green;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1510070009289-b5bc34383727?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15px auto;
  display: flex;
}
.navteam .mateContent .about {
  display: none;
  padding: 2%;
  height: 250px;
}
.navteam .mateContent .about .aboutParent {
  display: flex;
  justify-content: space-between;
}
.navteam .mateContent .about .aboutParent .name {
  border: 1px solid darkorange;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  width: 25%;
}
.navteam .mateContent .about .aboutParent .name .aboutImg {
  border: 1px solid green;
  border-radius: 5px;
  width: 80%;
}
@media (max-width: 500px) {
  .navteam .mateContent .about .aboutParent .name .aboutImg {
    width: 97%;
  }
}
.navteam .mateContent .about .aboutParent .name h3 {
  border: 1px solid black;
  color: #e5e7e9;
  display: flex;
  justify-content: center;
  width: 97%;
  text-align: center;
}
@media (max-width: 500px) {
  .navteam .mateContent .about .aboutParent .name h3 {
    font-size: 2rem;
    width: 97%;
  }
}
@media (max-width: 500px) {
  .navteam .mateContent .about .aboutParent .name {
    width: 30%;
  }
}
.navteam .mateContent .about .aboutParent .me {
  border: 1px solid magenta;
  display: flex;
  flex-wrap: wrap;
  width: 73%;
  justify-content: center;
}
.navteam .mateContent .about .aboutParent .me p {
  display: flex;
  border: 1px solid black;
}
@media (max-width: 500px) {
  .navteam .mateContent .about .aboutParent .me {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .navteam .mateContent .about {
    height: 200px;
  }
}
.navteam .mateContent .visible {
  color: blue;
  display: block;
}
@media (max-width: 500px) {
  .navteam .mateContent {
    display: flex;
    justify-content: center;
  }
}
.aboutContainer .companyMission p {
  padding: 10px;
}
.aboutContainer .companyMission h2 {
  padding: 10px;
}
.aboutContainer .teamDescription p {
  padding: 10px;
}
.aboutContainer .teamDescription h2 {
  padding: 10px;
}
.aboutContainer .companyCulture p {
  padding: 10px;
}
.aboutContainer .companyCulture h2 {
  padding: 10px;
}
.aboutContainer .companyHistory p {
  padding: 10px;
}
.aboutContainer .companyHistory h2 {
  padding: 10px;
}
.aboutContainer .companyHistory h3 {
  padding: 10px;
}
.aboutContainer .stock h2 {
  padding: 10px;
}
.aboutContainer .stock .activityContainer {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.aboutContainer .stock .activityContainer .activity {
  display: flex;
  flex-direction: column;
}
.aboutContainer .stock .activityContainer .activity h3 {
  display: flex;
  font-size: 2.2rem;
}
@media (max-width: 500px) {
  .aboutContainer .stock .activityContainer .activity h3 {
    font-size: 1.5rem;
  }
}
.aboutContainer .stock .activityContainer .activity p {
  display: flex;
  justify-content: center;
  padding: 5px;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .aboutContainer .stock .activityContainer .activity p {
    font-size: 1.3rem;
  }
}
footer {
  color: #d87867;
  background: #b0ccbe;
  padding: 10px 0;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
