.navteam {
    .tabLinks {
        width: 100%;
        border: 1px solid palevioletred;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        // cursor: pointer;
    }
    .link {
        border: 1px solid red;
        display: flex;
        // flex-wrap: wrap;
        justify-content: center;
        width: 15%;
        margin: 40px auto;
        padding: 5px;
        font-size: 1.5rem;
        text-align: center;
        cursor: pointer;
        
    }
    .mateContent{
        border: 1px solid green;
        .about{
            border: 1px solid darkorange;
            // display: none;
        }
    }
    
}