
.container {
    .information {
        .h2p-space();

        
        .btn {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            cursor: pointer;

            a {
                background-color: rgb(176,204,190);
                color: rgb(216,120,103);
                font-size: 1.4rem;
                font-weight: bold;
                border-radius: 5px;
                width: 15%;
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                text-decoration: none;
                border: 1px solid greenyellow;
                @media @mobile {
                    width: 75%;
                }
            }
            @media @mobile {
                width: 100%;
                font-size:1.8rem;
                cursor: not-allowed;
                
            }

        }
    }

    .imgTwo{
        .middleImg{
            margin: 20px auto;
            width: 100%;
            height: 200px;
            display: flex;
            flex-wrap: wrap;
            border-radius: 10px;
            @media @mobile {
              // margin: 0 auto 30px;
              // max-width: 100%;
              border-radius: 10px;
              // height: 100%;
            }
        }
    }
    .middleSection {
        .h2p-space();
    }

    .targetMarket {
        max-width: 100%;
        // margin: 0 auto;
        margin: 30px auto;
        border: 1px solid yellow;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        // flex-direction: column;
        // align-items: center;
        // background-color: powderblue;
        // border-bottom: thin inset navy;
        p {
            padding: 10px;
        }
        h3 {
            padding: 10px;
        }
        .professors {
            width: 40%;
            display:flex;
            flex-wrap: wrap;
            flex-direction: column;
            border: 2px solid rgb(0, 132, 255);
            h3 {
                display: flex;
                justify-content: center;
            }
            @media @mobile {
                width: 100%;
                display: flex;
                font-size: 1rem;
                flex-direction: row;
                font-size: 3rem;
                h3 {
                    display:flex;
                    justify-content: center;
                }
            }
            .btn {
                cursor: pointer;
                width: 100%;
                display: flex;
                justify-content: center;
                a {
                   font-weight: bold;
                   text-decoration: none;
                   .button(rgb(176,204,190), rgb(216,120,103), 1.4rem);
                }
                @media @mobile {
                    width: 100%;
                    font-size: 1.8rem;
                    cursor: not-allowed;
                }
            }
        }
        .candidates {
            width: 40%;
            display:flex;
            flex-wrap: wrap;
            flex-direction: column;
            border: 2px solid red;
            h3 {
                display: flex;
                justify-content: center;
            }
            @media @mobile {
                width: 100%;
                display: flex;
                font-size: 1rem;
                flex-direction: row;
                font-size: 3rem;
            }
            .btn {
                cursor: pointer;
                width: 100%;
                display:flex;
                justify-content: center;
                a {
                    font-weight: bold;
                    text-decoration: none;
                    .button(rgb(176,204,190), rgb(216,120,103), 1.4rem);
                }
                @media @mobile {
                    width: 100%;
                    font-size:1.8rem;
                    cursor: not-allowed;
                }
            }
        }
    
        @media @mobile {
            width: 100%;
            display: flex;
            font-size: 1rem;
            flex-direction: row;
            font-size: 3rem;
        }
    }
    
}


body {
	line-height: 1;
	background-image: url("https://images.unsplash.com/photo-1539592071786-616fb62b6c27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
	background-position: top left;
	background-size: cover;
    background-repeat: no-repeat;

    // @media @mobile {
    //     display: none;
    // }
}
// body mobile view here:
@media @mobile {
    body {
        background-image: none;
    }
}