.top {
    max-width: 100%;
    margin: 0 auto;
    // border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: rgb(176,204,190);
    border-bottom: thin inset rgb(176,204,190);

    @media @mobile {
        width: 100%;
        display: flex;
        font-size: 1rem;
        flex-direction: column;
        align-items: center;
        font-size: 3rem;
        
    }
    // .title {
    //     @media @mobile {
    //         display:flex;
    //         // align-items: center;
    //         justify-content: center;
    //     }
    // }
}

nav {
    // border: 1px solid purple;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    margin: 1rem;
    a:hover {
        color: rgb(229,231,233);
        @media @mobile{
            display: none;
        }
        @media @tablet {
            display: none;
        }
    }
    @media @mobile {
        width: 100%;
        display: flex;
        // margin: 5px;
        font-size: 1rem;
        flex-direction: row;
        // justify-content: space-around;
        align-items: center;
    }
    @media @tablet {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
nav a {
    // border: 1px solid lightseagreen; 
    text-decoration: none;
    color:rgb(233,141,123);
    font-size: 1.9rem;
    @media @mobile {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        // flex-direction: row;
    }
    @media @tablet {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.title {
    color: rgb(216,120,103);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .fas {
        font-size: 1rem;
        margin: 0 5px;
        color: rgb(216,120,103);
    }
}

//colors:
// light yellow:
// (234,176,0)

// dark yellow:
// (208,155,0)

//torquoise blue:
//rgb(136, 189, 188)

//dark torq. blue:
//rgb(37, 78, 88)

//pink:
// RGB (216,120,103)

//very light pink:
// rgb(242,167,144)

//light pink:
//rgb(233,141,123)

//owl grey
//rgb(176,204,190);

//white
//rgb(229,231,233)